/target
crates/*/target/
examples/*/kernel/target/
examples/*/host/target/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
*.ptx
patched-std/
patched-rustc/
rustc-src/
models/
test-warp-crate/target/
test-warp-crate/mir_dump/
test-warp-crate/rustc-ice-*.txt
test-warp-crate/host/target/
test-warp-crate/host/*.ptx
scripts/pre-push.sh
